/venv
/secret.py
/Bewerbung.docx
/__pycache__
/sender/__pycache__
/changer/__pycache__
/Bewerbung/Bewerbung.docx
/Bewerbung/tosend/Bewerbung.pdf
/Bewerbung/tosend/Lebenslauf.pdf
/Bewerbung/tosend/Zeugnisse.pdf

